version: "2.0"
services:
  springboot:
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/desafiob2w
    container_name: star-wars-api
    ports:
      - 8080:8080
    depends_on:
      - mongo
    links:
      - mongo
    networks:
      - spring-mongo-net 
networks:
  spring-mongo-net:
    driver: bridge